<a href="https://colab.research.google.com/github/bhuvn3sh/Thapar-summer-school/blob/main/Assignment_1_TSS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Question1.**  L is a list defined as L= [11, 12, 13, 14].

(i) WAP to add 50 and 60 to L.

In [ ]:
#1)
L=[11,12,13,14]
L.append(50)
L.append(60)
L

[11, 12, 13, 14, 50, 60]

(ii) WAP to remove 11 and 13from L.

In [ ]:
#2)
del L[0]
del L[1]
L

[12, 14, 50, 60]

(iii) WAP to sort L in ascending order.

In [ ]:
#3,4)
L.sort()
print("Ascending-->",L)
L.sort(reverse=True)
print("Descending-->",L)

Ascending--> [12, 14, 50, 60]
Descending--> [60, 50, 14, 12]

(v) WAP to search for 13 in L.

In [ ]:
#5)
if (13 in L):
  print("Present")
else:
  print("Absent")

Absent

(vi) WAP to count the number of elements present in L.

In [ ]:
#6)
count=0
print(L)
for i in L:
  count=count+1
print(count)

[60, 50, 14, 12]
4

(vii) WAP to sum all the elements in L.

In [ ]:
#7)
print("Sum-->",sum(L))

Sum--> 136

(viii) WAP to sum all ODD numbers in L

In [ ]:
#8)
s=0
print(L)
for i in range(0,4):
  if(L[i]%2 ==0):
    s=s+L[i]
print("Sum of even numbers is ",s)

[60, 50, 14, 12]
Sum of even numbers is  136

(ix) WAP to sum all EVEN numbers in L.

In [ ]:
#9)
del sum
temp=sum(L)
print("Sum of odd numbers is ",temp-s)

Sum of odd numbers is  0

(x) WAP to sum all PRIME numbers in L

In [ ]:
#10)
def primeSum( L, n):

	max_val = max(L)


	prime=[True for i in range(max_val + 1)]
	prime[0] = False
	prime[1] = False
	for p in range(2, max_val + 1):
		if(p * p > max_val):
			break

		if (prime[p] == True):

			for i in range(p * 2, max_val+1, p):
				prime[i] = False

	sum = 0

	for i in range(n):
		if (prime[L[i]]):
			sum += L[i]

	return sum

n = len(L)

print(primeSum(L, n))

0

(xi) WAP to clear all the elements in L.

In [ ]:
#11)
L.clear()

(xii) WAP to delete L.

In [ ]:
#12)
print(L)
del L

[]

## **Question 2.** D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

(i) WAP to add new entry in D; key=8 and value is 8.8

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print("AFter adding-->",D)

AFter adding--> {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2

In [ ]:
del D[2]
print("after deleting key 2-->",D)

after deleting key 2--> {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(iii) WAP to check weather 6 key is present in D.

In [ ]:
print ("Is Key 6 Present    --> ", 6 in D)

Is Key 6 Present    -->  False

(iv) WAP to count the number of elements present in D.

In [ ]:
count=0
for k in D:
	count=count+1
print("The total elements in D are ",count)

The total elements in D are  5

(v) WAP to add all the values present D.

In [ ]:
L=D.values()
print(L)
print("Sum of elements in D is ", sum(L))

dict_values([5.6, 6.6, 8.7, 7.7, 8.8])
Sum of elements in D is  37.4

(vi) WAP to update the value of 3 to 7.1.

In [ ]:
print(D)
D[3]=7.1
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

(vii) WAP to clear the dictionary

In [ ]:
D.clear()
print(D)

{}

##**Question 3.** S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i) WAP to add 55 and 66 in Set S1.

In [ ]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
S1.add(55)
S1.add(66)
print(S1)

{66, 40, 10, 50, 20, 55, 60, 30}

(ii) WAP to remove 10 and 30 from Set S1.

In [ ]:
S1.remove(10)
S1.remove(30)
print(S1)

{66, 40, 50, 20, 55, 60}

(iii) WAP to check whether 40 is present in S1.

(iv) WAP to find the union between S1 and S2.

In [ ]:
print("Union of S1 and S2",S1.union(S2))

Union of S1 and S2 {66, 70, 40, 80, 50, 20, 55, 90, 60}

(v) WAP to find the intersection between S1 and S2.

In [ ]:
print ("Intersection of S1,S2--> ", S1.intersection(S2))

Intersection of S1,S2-->  {40, 50, 60}

(vi) WAP to find the S1 - S2.

In [ ]:
print ("Difference S1-S2    --> ", S1-S2)

Difference S1-S2    -->  {66, 20, 55}

##**Question 4**

(i) WAP to print 100 random strings whose length between 6 and 8.

In [ ]:
import string as s
import random as r

S=s.ascii_letters
for i in range (100):
    l=r.sample(S,6)
    print("".join(l))

dYTPaz
gRVifw
XpgdtS
PBrLce
BkFznl
kPvFKa
GlviNF
ofwsZq
gBlTjQ
OowfIg
LKAFzU
fNtGDl
xebHnB
diTPGt
pGTJuj
EdyJzg
gMHrQk
ZainpM
OoEvRS
DjIblM
DuJXql
FOiZoM
OLbYME
ipyQgK
jlBtPH
qSRjkK
rUezOR
JBVtiE
wkrQMT
fohYTS
SPLEkw
fOLPEG
fKlIUu
PYgrzx
ViZdxp
cARhof
EWsQvr
ZVGrNH
sVQLcX
tPCyRI
dUluWm
ebsDIc
LNaJQo
OVLQbX
qSDJEr
RputbL
wLlqrC
Zdalkf
pWtLre
rcNzQM
yqNIjE
hYZCBG
ADiVSE
iSUwEW
dNRjfr
wPtEnh
CzbISV
BXkOCP
wHTmeM
jxXLvR
FJyuqp
ShouLH
fhFQbx
yOSHnB
OnlurQ
yhlafW
UEhBFH
cODznk
RvBZLX
gaArtZ
FLQhzd
DPBbkz
fiGPqb
mEBjVg
wYUJNR
yNLGRQ
cDVdqI
SVxIRi
bgvatC
aLgous
TRoSwc
BbuDkc
dclAjI
HGCIoS
Vbxetr
BRnted
LcefXJ
IAGRSH
jVIYrn
TVMEDt
sKJHVi
xjGFsL
ILzweP
HidDWc
JeMojV
NvGTzK
AiEThg
zokTEt
cahiTJ
dvJRkN

ii) WAP to print all prime numbers between 600 and 800.

In [ ]:
def prime(i):
    for j in range(2,i//2+1):
        if (i%j==0):
            return 0
    return 1

for i in range (600,801):
    if (prime(i)==1):
        print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
for i in range(100,1001):
    if (i%7==0 and i%9==0):
        print(i)

## **Question 5** WAP to create two lists of 10 random numbers between 10 and 30

(i) Common numbers in the two lists

In [ ]:
import random as r
l1=[]
for i in range(10):
    x=r.randint(10,30)
    l1+=[x]


l2=[]
for i in range(10):
    x=r.randint(10,30)
    l2+=[x]



f=0
l3=[]
for i in l1:
    l3+=[i]
    for j in l2:
        if (i==j):
            f=1
            break
    if (f==0 and i not in l3):
        print("common element" ,i)

(ii) Unique numbers in both the list

In [ ]:
import random as r
l1=[]
for i in range(10):
    x=r.randint(10,30)
    l1+=[x]
print(l1)

l2=[]
for i in range(10):
    x=r.randint(10,30)
    l2+=[x]


l3=[]
for i in l1:
    for j in l2:
        if (i==j and i not in l3):
            l3+=[i]
            print("unique element ", i)

(iii) Minimum in both the list

In [ ]:
import random as r
l1=[]
for i in range(10):
    x=r.randint(10,30)
    l1+=[x]


l2=[]
for i in range(10):
    x=r.randint(10,30)
    l2+=[x]


print(min(l1))
print(min(l2))

(iv) Maximum in both the list

In [ ]:
import random as r
l1=[]
for i in range(10):
    x=r.randint(10,30)
    l1+=[x]


l2=[]
for i in range(10):
    x=r.randint(10,30)
    l2+=[x]


print(max(l1))
print(max(l2))



(v) Sum of both the lists

In [ ]:
import random as r
l1=[]
for i in range(10):
    x=r.randint(10,30)
    l1+=[x]


l2=[]
for i in range(10):
    x=r.randint(10,30)
    l2+=[x]


print(sum(l1)+sum(l2))

371

## **QUESTION 6** WAP to create a list of 100 random numbers between 100 and 900.

(i) All odd numbers

In [ ]:
import random as r
l1=[]
for i in range(100):
    x=r.randint(100,901)
    l1+=[x]
    if (x%2!=0):
      print(x)

271
549
629
847
667
421
901
155
501
299
893
271
533
759
473
353
531
397
465
565
589
679
841
147
237
253
527
153
785
381
683
409
785
159
757
377

(ii) All even numbers

In [ ]:
import random as r
l1=[]
for i in range(100):
    x=r.randint(100,901)
    l1+=[x]
    if (x%2==0):
      print(x)

360
450
738
512
750
888
514
374
126
650
512
562
442
816
654
652
852
886
248
792
848
540
170
486
296
182
590
892
566
664
696
524
468
778
512
190
314
578
126
540
128
318
746
664
508
828
848
666
510
362
334
288

(iii) All prime numbers

In [ ]:
import random as r
l1=[]
for i in range(100):
    x=r.randint(100,901)
    l1+=[x]
    f=0
    for j in range(2,x//2+1):
      if x%j==0:
        f=1
        break
    if f==0:
      print(x)

599
113
631
503
631
809
347
433
347
347
269
181
521
353
541
757
157
881

## Ques 7

D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. WAP to read all the keys and values from dictionary and write to the file in the given below format. Key1, Value1 Key2, Value2 Key3, Value3

In [ ]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
for i in D:
  print(i,",",D[i])

1 , One
2 , Two
3 , Three
4 , Four
5 , Five

##Ques 8

L is a list defined as L={"One","Two","Three","Four","Five"}. WAP to count the length of reach element from a list and write to the file in the given below format: One, 3 Two, 3 Four, 4

## Ques 9

Write to the file 100 random strings whose length between 10 and 15.

In [ ]:
file = open('ques9.txt', 'a')
import string as s
S=s.ascii_letters
for i in range(100):
  file.write("".join)

TypeError: ignored